<div class="text-center">
    <h1>My Payments</h1>

    <div>
        <p>
            <span>sorting by: {{payments.sortField}}</span> |
            <span>reversed: {{payments.sortReverse}}</span>
        </p>
    </div>

    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <td>
                    <a href="" ng-click="payments.orderBy('concept')">Concept
                        <i ng-show="payments.sortField == 'concept' && !payments.sortReverse" class="fas fa-caret-down"></i>
                        <i ng-show="payments.sortField == 'concept' && payments.sortReverse" class="fas fa-caret-up"></i>
                </td>
                <td>
                    <a href="" ng-click="payments.orderBy('quantity')">Quantity
                        <span ng-show="payments.sortField == 'quantity' && !payments.sortReverse" class="fas fa-caret-down"></span>
                        <span ng-show="payments.sortField == 'quantity' && payments.sortReverse" class="fas fa-caret-up"></span>
                </td>
                <td>
                    Date
                </td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="payment in payments.payments | orderBy:payments.sortField:payments.sortReverse">
                <td>{{ payment.concept }}</td>
                <td>{{ payment.quantity }}</td>
                <td>{{ payment.date }}</td>
            </tr>
        </tbody>

    </table>

</div>